{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">


        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Welcome to the helpdesk management </h1>
                <p>This is an application for managing your team, tasks and devices in the company.
                    The user adds tasks and contacts the admin, who performs tasks that are on the list, manages company devices and plans his work.
                    The application is designed to simplify user-admin communication and automate work in the company.
                </p>
                {% if is_granted('ROLE_ADMIN') %}
               <p><a class="btn btn-primary btn-lg" href="/Timetable/index" role="button">Go to Timetable &raquo;</a></p>
                {% endif %}

            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Tasks</h2>
                    <p>
                        If you know what to do, use the "Add Task" option. Set the task execution priority, if you choose high priority, admin will deal with it immediately.</p>
                    <p><a class="btn btn-secondary" href="/todo/create" role="button">Add Task &raquo;</a></p>
                </div>

                <div class="col-md-4">
                    <h2>Devices</h2>
                    <p>The application allows administrators to carry out the inventarisation of devices located in the company. If you want to find out which device you have, contact the administrators! </p>
                    {% if is_granted('ROLE_ADMIN') %}
                    <p><a class="btn btn-secondary" href="/Inventory/index" role="button">View devices list &raquo;</a></p>
                    {% endif %}
                </div>


                <div class="col-md-4">
                    <h2>Contact</h2>
                    <p>
                        You have a problem? Contact us via the contact form. Give data and describe your problem or question. We will try to resign as soon as possible! </p>
                    <p><a class="btn btn-secondary" href="/Contact/index" role="button"> Contact form &raquo;</a></p>
                </div>
            </div>

            <hr>

        </div>

    </main>

    <footer class="container">
        <p>&copy; SloMig 2019</p>
    </footer>
{% endblock %}